[
    {
        "data_flow_id": "007",
        "data_flow_group": "my_people",

        "source_system": "Manual_Download",
        "source_format": "cloudFiles",

        "source_details": {
            "source_path_dev": "{uc_volume_path}/demo/dabs/resources/data/people",
            "source_path_prod": "{uc_volume_path}/demo/dabs/resources/data/people",
            "source_metadata": {
                "include_autoloader_metadata_column": "True",
                "autoloader_metadata_col_name": "source_metadata",
                "select_metadata_cols": {
                    "input_file_name": "_metadata.file_name",
                    "input_file_path": "_metadata.file_path"
                }
            }         
        },
        "bronze_catalog_dev": "{uc_catalog_name}",
        "landing_database_dev": "{landing_schema}",
        "bronze_catalog_prod": "{uc_catalog_name}",
        "landing_database_prod": "{landing_schema}",        
        "landing_table": "people_bronze",
        "bronze_quarantine_table": "people_bronze_quarantine",
        "bronze_cluster_by": ["country"],

        "landing_table_properties" : {
            "pipelines.autoOptimize.managed": "true", 
            "pipelines.reset.allowed": "true",
            "delta.autoOptimize.optimizeWrite": "true",
            "delta.autoOptimize.autoCompact": "true",
            "delta.tuneFileSizesForRewrites": "true",
            "delta.columnMapping.mode": "name",
            "delta.checkpointRetentionDuration": "30 days",
            "delta.deletedFileRetentionDuration": "30 days",
            "delta.logRetentionDuration": "30 days"
        },

        "bronze_reader_options": {
            "cloudFiles.format": "csv",
            "cloudFiles.inferColumnTypes": "true",
            "cloudFiles.rescuedDataColumn": "_rescued_data"
        },
        "silver_catalog_dev": "{uc_catalog_name}",
        "refinery_database_dev": "{refinery_schema}",
        "silver_catalog_prod": "{uc_catalog_name}",
        "refinery_database_prod": "{refinery_schema}",
        "refinery_table": "people_silver",
        "silver_cluster_by": ["country"],

        "refinery_table_properties" : {
            "pipelines.autoOptimize.managed": "true", 
            "pipelines.reset.allowed": "true",
            "delta.autoOptimize.optimizeWrite": "true",
            "delta.autoOptimize.autoCompact": "true",
            "delta.tuneFileSizesForRewrites": "true",
            "delta.columnMapping.mode": "name",
            "delta.checkpointRetentionDuration": "30 days",
            "delta.deletedFileRetentionDuration": "30 days",
            "delta.logRetentionDuration": "30 days"
        },

        "silver_transformation_json_dev": "{uc_volume_path}/demo/dabs/conf/silver_queries_people.json",
        "silver_data_quality_expectations_json_dev": "{uc_volume_path}/demo/dabs/conf/dqe/dqe_silver_people.json",

        "silver_transformation_json_prod": "{uc_volume_path}/demo/dabs/conf/silver_queries_people.json",
        "silver_data_quality_expectations_json_prod": "{uc_volume_path}/demo/dabs/conf/dqe/dqe_silver_people.json",

        "silver_cdc_apply_changes": {
            "keys": [
                "id"
            ],
            "sequence_by": "id",
            "scd_type": "1"
        }
    }
    
]