[
{
   "data_flow_id": "100",
   "data_flow_group": "A1",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "CUSTOMERS",
      "source_path_demo": "{uc_volume_path}/demo/resources/data/afam/data/customers",
      "source_metadata": {
            "include_autoloader_metadata_column": "True",
            "autoloader_metadata_col_name": "source_metadata",
            "select_metadata_cols": {
               "input_file_name": "_metadata.file_name",
               "input_file_path": "_metadata.file_path"
            }
      },
      "source_schema_path": "{uc_volume_path}/demo/resources/data/afam/ddl/customers.ddl"
   },
   "landing_catalog_demo": "{uc_catalog_name}",
   "landing_database_demo": "{uc_catalog_name}.{landing_schema}",
   "landing_table": "customers",
   "landing_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "landing_table_properties": {
         "pipelines.autoOptimize.managed": "true"
   },
   "landing_table_cluster_by":["id", "email"],   
   "landing_data_quality_expectations_json_demo": "{uc_volume_path}/demo/conf/dqe/customers/landing_data_quality_expectations.json",
   "landing_catalog_quarantine_demo": "{uc_catalog_name}",
   "landing_database_quarantine_demo": "{landing_schema}",
   "landing_quarantine_table": "customers_quarantine",
   "landing_quarantine_table_properties": {
         "pipelines.reset.allowed": "false"
   },
   "landing_quarantine_table_cluster_by":["id", "email"],
   "landing_append_flows": [
      {
            "name": "customer_landing_flow",
            "create_streaming_table": false,
            "source_format": "cloudFiles",
            "source_details": {
               "source_path_demo": "{uc_volume_path}/demo/resources/data/afam/data/customers_af",
               "source_schema_path": "{uc_volume_path}/demo/resources/data/afam/ddl/customers.ddl"
            },
            "reader_options": {
               "cloudFiles.format": "json",
               "cloudFiles.inferColumnTypes": "true",
               "cloudFiles.rescuedDataColumn": "_rescued_data"
            },
            "once": false
      }
   ],
   "refinery_catalog_demo": "{uc_catalog_name}",
   "refinery_database_demo": "{refinery_schema}",
   "refinery_table": "customers",
   "refinery_transformation_json_demo": "{uc_volume_path}/demo/conf/afam_refinery_transformations.json",
   "refinery_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, email"         
   },
   "refinery_data_quality_expectations_json_demo": "{uc_volume_path}/demo/conf/dqe/customers/refinery_data_quality_expectations.json",
   "refinery_append_flows": [
      {
            "name": "customers_refinery_flow",
            "create_streaming_table": false,
            "source_format": "delta",
            "source_details": {
               "source_database": "{uc_catalog_name}.{landing_schema}", "source_table": "customers_delta"
            },
            "reader_options": {},
            "once": false
      }
   ]
},
{
   "data_flow_id": "102",
   "data_flow_group": "A1",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "TRANSACTIONS",
      "source_path_demo": "{uc_volume_path}/demo/resources/data/afam/data/transactions",
      "source_metadata": {
            "include_autoloader_metadata_column": "True",
            "select_metadata_cols": {
               "input_file_name": "_metadata.file_name",
               "input_file_path": "_metadata.file_path"
            }            
      },            
      "source_schema_path": "{uc_volume_path}/demo/resources/data/afam/ddl/transactions.ddl"
   },
   "landing_catalog_demo": "{uc_catalog_name}",   
   "landing_database_demo": "{landing_schema}",
   "landing_table": "transactions",
   "landing_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "landing_table_properties": {
         "pipelines.reset.allowed": "true"
   },
   "landing_table_cluster_by":["id", "customer_id"],   
   "landing_data_quality_expectations_json_demo": "{uc_volume_path}/demo/conf/dqe/transactions/landing_data_quality_expectations.json",
   "landing_catalog_quarantine_demo": "{uc_catalog_name}",
   "landing_database_quarantine_demo": "{landing_schema}",
   "landing_quarantine_table": "transactions_quarantine",
   "landing_quarantine_table_properties": {
         "pipelines.reset.allowed": "true",
         "pipelines.autoOptimize.managed": "false"
   },
   "landing_quarantine_table_cluster_by":["id", "customer_id"],   
   "landing_append_flows": [
      {
            "name": "transactions_landing_flow",
            "create_streaming_table": false,
            "source_format": "cloudFiles",
            "source_details": {
               "source_path_demo": "{uc_volume_path}/demo/resources/data/afam/data/transactions_af",
               "source_schema_path": "{uc_volume_path}/demo/resources/data/afam/ddl/transactions.ddl"
            },
            "reader_options": {
               "cloudFiles.format": "json",
               "cloudFiles.inferColumnTypes": "true",
               "cloudFiles.rescuedDataColumn": "_rescued_data"
            },
            "once": false
      }
   ],
   "refinery_catalog_demo": "{uc_catalog_name}",
   "refinery_database_demo": "{refinery_schema}",
   "refinery_table": "transactions",
   "refinery_cdc_apply_changes": {
      "keys": [
         "id"
      ],
      "sequence_by": "operation_date",
      "scd_type": "1",
      "apply_as_deletes": "operation = 'DELETE'",
      "except_column_list": [
         "operation",
         "operation_date",
         "_rescued_data"
      ],
      "flow_name":"refinery_transactions_cdc_applychanges_flow"
   },
   "refinery_transformation_json_demo": "{uc_volume_path}/demo/conf/afam_refinery_transformations.json",
   "refinery_data_quality_expectations_json_demo": "{uc_volume_path}/demo/conf/dqe/transactions/refinery_data_quality_expectations.json",
   "refinery_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"         
   }
}
]