[
   {
      "data_flow_id": "100",
      "data_flow_group": "A1",
      "source_system": "mysql",
      "source_format": "cloudFiles",
      "source_details": {
         "source_path_demo": "{uc_volume_path}/demo/resources/data/cars"
      },
      "bronze_catalog_demo": "{uc_catalog_name}",
      "landing_database_demo": "{landing_schema}",
      "landing_table": "cars",
      "landing_table_comment": "bronze cars table",
      "bronze_reader_options": {
         "cloudFiles.format": "csv",
         "cloudFiles.rescuedDataColumn": "_rescued_data",
         "header": "true"
      },
      "silver_catalog_demo": "{uc_catalog_name}",
      "refinery_database_demo": "{refinery_schema}",
      "refinery_table": "cars_usa",
      "refinery_table_comment": "cars_usa silver table",
      "silver_transformation_json_demo": "{uc_volume_path}/demo/conf/silver_transformations_cars.json"
   }
]