[
{
   "data_flow_id": "100",
   "data_flow_group": "A1",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "CUSTOMERS",
      "source_path_it": "{dbfs_path}/dlt-meta/resources/data/customers",
      "source_metadata": {
            "include_autoloader_metadata_column": "True",
            "autoloader_metadata_col_name": "source_metadata",
            "select_metadata_cols": {
               "input_file_name": "_metadata.file_name",
               "input_file_path": "_metadata.file_path"
            }
      },
      "source_schema_path": "{dbfs_path}/dlt-meta/resources/customers.ddl"
   },
   "landing_catalog_it": "{uc_catalog_name}",
   "landing_database_it": "{landing_schema}",
   "landing_table": "customers",
   "landing_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "landing_table_path_it": "{dbfs_path}/data/landing/customers",
   "landing_table_properties": {
         "pipelines.autoOptimize.managed": "true",
         "pipelines.autoOptimize.zOrderCols": "id, email"
   },    
   "landing_data_quality_expectations_json_it": "{dbfs_path}/dlt-meta/conf/dqe/customers/landing_data_quality_expectations.json",
   "landing_catalog_quarantine_it": "{uc_catalog_name}",
   "landing_database_quarantine_it": "{landing_schema}",
   "landing_quarantine_table": "customers_quarantine",
   "landing_quarantine_table_path_it": "{dbfs_path}/data/landing/customers_quarantine",  
   "landing_quarantine_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, email"
   },
   "landing_append_flows": [
      {
            "name": "customer_landing_flow",
            "create_streaming_table": false,
            "source_format": "cloudFiles",
            "source_details": {
               "source_path_it": "{dbfs_path}/dlt-meta/resources/data/customers_af",
               "source_schema_path": "{dbfs_path}/dlt-meta/resources/customers.ddl"
            },
            "reader_options": {
               "cloudFiles.format": "json",
               "cloudFiles.inferColumnTypes": "true",
               "cloudFiles.rescuedDataColumn": "_rescued_data"
            },
            "once": false
      }
   ],
   "refinery_catalog_it": "{uc_catalog_name}",
   "refinery_database_it": "{uc_catalog_name}.{refinery_schema}",
   "refinery_table": "customers",
   "refinery_cdc_apply_changes": {
      "keys": [
         "id"
      ],
      "sequence_by": "operation_date",
      "scd_type": "1",
      "apply_as_deletes": "operation = 'DELETE'",
      "except_column_list": [
         "operation",
         "operation_date",
         "_rescued_data"
      ],
      "flow_name":"refinery_customers_cdc_applychanges_flow"
   },
   "refinery_table_path_it": "{dbfs_path}/data/refinery/customers",
   "refinery_transformation_json_it": "{dbfs_path}/dlt-meta/conf/refinery_transformations.json",
   "refinery_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, email"         
   },
   "refinery_data_quality_expectations_json_it": "{dbfs_path}/dlt-meta/conf/dqe/customers/refinery_data_quality_expectations.json"
},
{
   "data_flow_id": "102",
   "data_flow_group": "A1",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "TRANSACTIONS",
      "source_path_it": "{dbfs_path}/dlt-meta/resources/data/transactions",
      "source_metadata": {
            "include_autoloader_metadata_column": "True"
      },      
      "source_schema_path": "{dbfs_path}/dlt-meta/resources/transactions.ddl"
   },
   "landing_catalog_it": "{uc_catalog_name}",   
   "landing_database_it": "{landing_schema}",
   "landing_table": "transactions",
   "landing_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "landing_table_path_it": "{dbfs_path}/data/landing/transactions",
   "landing_table_properties": {
         "pipelines.reset.allowed": "true",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"    
   },
   "landing_data_quality_expectations_json_it": "{dbfs_path}/dlt-meta/conf/dqe/transactions/landing_data_quality_expectations.json",
   "landing_catalog_quarantine_it": "{uc_catalog_name}",
   "landing_database_quarantine_it": "{landing_schema}",
   "landing_quarantine_table": "transactions_quarantine",
   "landing_quarantine_table_path_it": "{dbfs_path}/data/landing/transactions_quarantine",
   "landing_quarantine_table_properties": {
         "pipelines.reset.allowed": "true",
         "pipelines.autoOptimize.managed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"   
   },     
   "landing_append_flows": [
      {
            "name": "transactions_landing_flow",
            "create_streaming_table": false,
            "source_format": "cloudFiles",
            "source_details": {
               "source_path_it": "{dbfs_path}/dlt-meta/resources/data/transactions_af",
               "source_schema_path": "{dbfs_path}/dlt-meta/resources/transactions.ddl"
            },
            "reader_options": {
               "cloudFiles.format": "json",
               "cloudFiles.inferColumnTypes": "true",
               "cloudFiles.rescuedDataColumn": "_rescued_data"
            },
            "once": false
      }
   ],
   "refinery_catalog_it": "{uc_catalog_name}",
   "refinery_database_it": "{refinery_schema}",
   "refinery_table": "transactions",
   "refinery_cdc_apply_changes": {
      "keys": [
         "id"
      ],
      "sequence_by": "operation_date",
      "scd_type": "1",
      "apply_as_deletes": "operation = 'DELETE'",
      "except_column_list": [
         "operation",
         "operation_date",
         "_rescued_data"
      ],
      "flow_name":"refinery_transactions_cdc_applychanges_flow"
   },
   "refinery_table_path_it": "{dbfs_path}/data/refinery/transactions",
   "refinery_transformation_json_it": "{dbfs_path}/dlt-meta/conf/refinery_transformations.json",
   "refinery_data_quality_expectations_json_it": "{dbfs_path}/dlt-meta/conf/dqe/transactions/refinery_data_quality_expectations.json",
   "refinery_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"         
   }
}
]