[
    {
        "data_flow_id": "104",
        "data_flow_group": "A1",
        "landing_database_dev": "landing",
        "landing_database_staging": "landing",
        "landing_database_prd": "landing",
        "landing_table": "customers",
        "landing_table_path_dev": "{dbfs_path}/data/landing/customers",        
        "refinery_database_dev": "refinery",
        "refinery_database_staging": "refinery",
        "refinery_database_prd": "refinery",
        "refinery_table": "customers_clean",
        "refinery_cdc_apply_changes": {
            "keys": [
                "id"
            ],
            "sequence_by": "operation_date",
            "scd_type": "1",
            "apply_as_deletes": "operation = 'DELETE'",
            "except_column_list": [
                "operation",
                "operation_date",
                "_rescued_data"
            ]
        },
        "refinery_table_path_dev": "{dbfs_path}/data/refinery/customers_clean",
        "refinery_table_properties": {
            "pipelines.autoOptimize.managed": "false",
            "pipelines.reset.allowed": "false",
            "pipelines.autoOptimize.zOrderCols": "id,email"
        },
        "refinery_transformation_json_dev": "{dbfs_path}/dlt-meta/conf/refinery_transformations_fanout.json",
        "refinery_data_quality_expectations_json_dev": "{dbfs_path}/dlt-meta/conf/dqe/customers/refinery_data_quality_expectations.json"
    }
]